body { background: #272822; padding-top: 80px;}
#tracker { color: white; }
table { font-size: 12px; font-family: 'Source Code Pro', 'Lucida Console', monospace; font-size: 80%; cursor: default; }

.inst { color: #F12772; }
.vol { color: #A6E22A; }
.fx { color: #FD9720; text-align:right; margin:0; padding:0; }
.param { color: #FD9720; margin:0; padding:0; padding-right: 5px; border-right-width: 2px; }
.cursor { background: black; }
.playback { background: #464643; }
.marked { background: #947FFF; }
.cursor.marked { color:black;background:white; }
#pattern { padding-left:40px; padding-right:40px;}
#side, h1 { position: absolute; top: 10px; right: 10px; }

tr:nth-child(4n+1) { background: #39382E; }

td { border: 1px solid #272822;
padding: 1px 1px;
}

#tracker > a { color: #DEDB74; }
#tracker > small { color: #C4ABA1; }