<!doctype html>
<html>
<head><title>{{ title }} by {{ name }} - bitbin++</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}"> 
<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script src="{{ url_for('static',filename='js/WebMIDIAPI.js') }}"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
<script src="{{ url_for('static',filename='js/player.js') }}"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-top: 40px">
      <div class="navbar-inner">
        <ul class="nav">
        <form class="navbar-form pull-left">
          <button type="button" class="btn btn-inverse"  href="#" id="play"><i class="icon-play icon-white"></i></button>
          <button type="button" class="btn btn-inverse"   href="#" id="stop"><i class="icon-stop icon-white"></i></button></form>
          <li><a href="#" data-toggle="modal" data-target="#resizemodal">Rows <span id="rowcountdisp">128</span></a></li>
          <li><a href="#" data-toggle="modal" data-target="#resizemodal">Channels <span id="chancountdisp">8</span></a></li>
<li><a href="#">Oct <span id="oct">4</span></a></li><li><button style="padding-left: 0px; padding-right: 0px;" class="btn btn-inverse" id="octup"><i class="icon-arrow-up icon-white"></i></button> <button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="octdn"><i class="icon-arrow-down icon-white"></i></button></li>
<li><a href="#">Step <span id="step">2</span></a></li><li><button style="padding-left: 0px; padding-right: 0px;" class="btn btn-inverse" id="stepup"><i class="icon-arrow-up icon-white"></i></button> <button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="stepdn"><i class="icon-arrow-down icon-white"></i></button></li>
<li><a href="#">Inst <span id="instdisp">2</span></a></li><li><button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="instup"><i class="icon-arrow-up icon-white"></i></button> <button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="instdn"><i class="icon-arrow-down icon-white"></i></button></li><li><a href="#"><span id="instname">50% Pulse</span></a></li><li><button class="btn btn-inverse"  id="repinst">Replace Instruments</button></li>
<li><a href="#">Transpose</a></li>
<li><button style="padding-left: 0px; padding-right: 0px;" class="btn btn-inverse" id="transbup"><i class="icon-arrow-up icon-white"></i></button> <button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="transbdn"><i class="icon-arrow-down icon-white"></i></button>
<button style="padding-left: 0px; padding-right: 0px;" class="btn btn-inverse" id="transboctup"><i class="icon-arrow-up icon-white"></i>12</button> <button style="padding-left: 0px; padding-right: 0px;"  class="btn btn-inverse" id="transboctdn"><i class="icon-arrow-down icon-white"></i>12</button>
</li>


        </ul>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" data-toggle="modal" data-target="#aboutmodal" href="#">bitbin++</a>
        <ul class="nav">
 <form class="navbar-form pull-left">
          <button  class="btn btn-success" href="#" data-toggle="modal" data-target="#newmodal">New</button>
         <button  class="btn btn-warning" href="#" data-toggle="modal" data-target="#impmodal">Import</button>
<input type="text" id="myname" placeholder="Artist" value="{{ name }}">
 <input type="text" id="mytitle" placeholder="Title" value="{{ title }}">
  <button class="btn btn-primary" type="button" id="upload">Upload</button></form>
  <li><div style="padding-left: 5px; padding-top: 5px;">{{ sharecode }}</div></li>

<!--          <li><a href="#" id="save">Save</a></li>
          <li><a href="#" id="load">Load</a></li> -->
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Examples
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {{ sampleSongs }}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Latest 10
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {{ last10Songs }}
            </ul>
          </li>
          <li><a href="/songs/">All Songs</a></li>
          <li><a href="#" data-toggle="modal" data-target="#helpmodal"><i class="icon-question-sign icon-white"></i></a></li>
        </ul>
      </div>
    </div>


<div id="aboutmodal" class="modal hide fade">
  <div class="modal-header">
    <h3>About bitbin++</h3>
  </div>
  <div class="modal-body">
<p>Original <a href="http://bit.s3m.us">bitbin</a> created by <a href="http://coda.s3m.us">coda</a> for boston music hack day 2011</p>
<p>Forked by <a href="http://djbouche.net">DJ Bouche</a>.</p>
</div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal"  class="btn">Close</a>
  </div>
</div>

<div id="impmodal" class="modal hide fade">
  <div class="modal-header">
    <h3>Import from bitbin</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputBitbin">bitbin URL</label>
    <div class="controls">
      <input type="text" id="inputBitbin" placeholder="http://bit.s3m.us/e8070e">
    </div>
  </div>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="importbitbin" class="btn btn-primary">Import Song</a>
    <a href="#" data-dismiss="modal"  class="btn">Cancel</a>
  </div>
</div>

<div id="newmodal" class="modal hide fade">
  <div class="modal-header">
    <h3>New Song</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputRows">Rows</label>
    <div class="controls">
      <input type="text" id="inputRows" placeholder="Rows" value="128">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputRows">Channels</label>
    <div class="controls">
      <input type="text" id="inputChannels" placeholder="Channels" value="8">
    </div>
  </div>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="createnew" class="btn btn-primary">Create New Song</a>
    <a href="#" data-dismiss="modal"  class="btn">Cancel</a>
  </div>
</div>

<div id="resizemodal" class="modal hide fade">
  <div class="modal-header">
    <h3>Resize Song</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputResizeRows">Rows</label>
    <div class="controls">
      <input type="text" id="inputResizeRows" placeholder="Rows" value="128">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputResizeRows">Channels</label>
    <div class="controls">
      <input type="text" id="inputResizeChannels" placeholder="Channels" value="8">
    </div>
  </div>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="songresize" class="btn btn-primary">Resize Song</a>
    <a href="#" data-dismiss="modal"  class="btn">Cancel</a>
  </div>
</div>


<div id="helpmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>How to Use</h3>
  </div>
  <div class="modal-body">
<p>Enter notes like this:</p>
<img src="{{ url_for('static',filename='img/keyboard.gif') }}">
<p>Spacebar or . clears a cell. </p>
<br>The '1' key enters ^^^, which cuts off the note.

<p>A channel is made up of 5 cells like this:</p>
<pre>  
       ... . .. ...
       ^   ^  ^ ^^
    note   |  | |effect parameter
    waveform  | effect type
              volume (default: 64)
</pre>

<p>Effects are compatible with S3M/IT. Currently implemented:</p>
<ul>
<li>Axx speed (ticks per row) (default: A03)</li>
<li>Dxy volume slide (D0x down, Dx0 up) by x</li>
<li>Exx slide down</li>
<li>Fxx slide up</li>
<li>Gxx slide to note from previous note</li>
<li>Hxy vibrato speed x depth y</li>
<li>Jxy tick arpeggio (+x, +y semitones)</li>
<li>Kxy volume slide + vibrato (Dxy + H00)</li>
<li>Mxx channel volume (default: M40)</li>
<li>Txx tempo (beats per minute) (default: T7D)</li>
</ul>


<p>Keyboard shortcuts:</p>
<ul>
<li>F6 Generate+play pattern</li>
<li>F7 Generate+play pattern from current row</li>
<li>F8 pause playback</li>
<li>ALT+C or CTRL+C Copy selection (select with shift+arrows)</li>
<li>ALT+P or CTRL+V Paste selection at cursor</li>
<li>ALT+L Select whole channel</li>
<li>ALT+0-9 Set cursor step</li>
<li>ALT+Q/A Transpose note or selection up/down (CTRL+ALT for octave)</li>
<li>Numpad / and * or ALT+Home/End Octave down/up</li>
<li>Pgup/Pgdn move 8 rows</li>
</ul>

<p>Waveforms:</p>
<ul>
<li>0-3: Pulse width 12.5%, 25%, 50%, 75%</li>
<li>4: Stepped triangle</li>
<li>5: 1-bit pitched noise</li>
<li>6: kick (base: C-4)</li>
<li>7: snare (base: C-5)</li>
<li>8: Stepped saw</li>
<li>9: Lo-res sine</li>
</ul>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal"  class="btn">Close</a>
  </div>
</div>
<div id="tracker">
<div class="container">

<div class="row">
    <div class="span12">
        <audio id="audioelt" controls="controls" autoplay="true"></audio><br>
    </div>
</div>
</div>

<div id="pattern">

{{ patternData }}

</div>

<!--
<h1>bitbin++</h1>
<div id="side">

<h2>sample songs</h2>
{{ sampleSongs }}

<h2>last 10 songs:</h2>
<br>{{ last10Songs }}<br><a href="/songs/">all songs</a>

<h2>instructions</h2>
-->

</div>
</div>
</body>
</html>